<a href="https://colab.research.google.com/github/elsaessern/Sensor_projectSu24/blob/main/Model1bench.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import HistGradientBoostingRegressor
import random

In [ ]:
# convert to pandas dataframe
sensordf = pd.read_csv('https://raw.githubusercontent.com/elsaessern/Sensor_projectSu24/main/AirQualityUCI.csv',sep=';')

In [ ]:
sensordf.shape

(9471, 17)

In [ ]:
sensordf.columns

Index(['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [ ]:
sensordf['PT08.S1(CO)']
pd.isna(sensordf['PT08.S1(CO)'])

0       False
1       False
2       False
3       False
4       False
        ...
9466     True
9467     True
9468     True
9469     True
9470     True
Name: PT08.S1(CO), Length: 9471, dtype: bool

In [ ]:
# sensordf includes empty rows and columns from csv so we drop them here
sensordf = sensordf.dropna(axis=0,how='all')
sensordf = sensordf.dropna(axis=1,how='all')
print(sensordf)
pd.isna(sensordf).sum()

            Date      Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
0     10/03/2004  18.00.00    2,6       1360.0     150.0     11,9
1     10/03/2004  19.00.00      2       1292.0     112.0      9,4
2     10/03/2004  20.00.00    2,2       1402.0      88.0      9,0
3     10/03/2004  21.00.00    2,2       1376.0      80.0      9,2
4     10/03/2004  22.00.00    1,6       1272.0      51.0      6,5
...          ...       ...    ...          ...       ...      ...
9352  04/04/2005  10.00.00    3,1       1314.0    -200.0     13,5
9353  04/04/2005  11.00.00    2,4       1163.0    -200.0     11,4
9354  04/04/2005  12.00.00    2,4       1142.0    -200.0     12,4
9355  04/04/2005  13.00.00    2,1       1003.0    -200.0      9,5
9356  04/04/2005  14.00.00    2,2       1071.0    -200.0     11,9

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9352         1101.0    472.0         539.0    190.0        1374.0
9353         1027.0    353.0         604.0    179.0        1264.0
9354         1063.0    293.0         603.0    175.0        1241.0
9355          961.0    235.0         702.0    156.0        1041.0
9356         1047.0    265.0         654.0    168.0        1129.0

      PT08.S5(O3)     T    RH      AH
0          1268.0  13,6  48,9  0,7578
1           972.0  13,3  47,7  0,7255
2          1074.0  11,9  54,0  0,7502
3          1203.0  11,0  60,0  0,7867
4          1110.0  11,2  59,6  0,7888
...           ...   ...   ...     ...
9352       1729.0  21,9  29,3  0,7568
9353       1269.0  24,3  23,7  0,7119
9354       1092.0  26,9  18,3  0,6406
9355        770.0  28,3  13,5  0,5139
9356        816.0  28,5  13,1  0,5028

[9357 rows x 15 columns]

Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [ ]:
# define a function that will split data into 70% training and 30% test data
def split_data(data):
  L = []
  # split data into ten sections of time (separate rows into 10ths)
  for i in range(0,10):
    L.append(data.loc[i*int(data.shape[0]*0.1):(i+1)*int(data.shape[0]*0.1)]  )

  # randomize the order of the 10ths to minimize date/time bias
  random.shuffle(L)

  # assign first seven 10ths of shuffled data to training data frame and last three 10ths to the test data frame
  train = pd.concat(L[:7])
  test = pd.concat(L[7:])

  return [train,test]

In [ ]:
# check if split_data works
split = split_data(sensordf)
print(split)

train = split[0]
test = split[1]

[            Date      Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
0     10/03/2004  18.00.00    2,6       1360.0     150.0     11,9
1     10/03/2004  19.00.00      2       1292.0     112.0      9,4
2     10/03/2004  20.00.00    2,2       1402.0      88.0      9,0
3     10/03/2004  21.00.00    2,2       1376.0      80.0      9,2
4     10/03/2004  22.00.00    1,6       1272.0      51.0      6,5
...          ...       ...    ...          ...       ...      ...
3736  13/08/2004  10.00.00    1,5       1016.0    -200.0      7,9
3737  13/08/2004  11.00.00    1,2        953.0    -200.0      5,8
3738  13/08/2004  12.00.00    1,1        918.0    -200.0      5,3
3739  13/08/2004  13.00.00    0,8        892.0    -200.0      4,2
3740  13/08/2004  14.00.00    0,7        841.0    -200.0      3,3

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
3736          896.0     91.0         766.0     93.0        1704.0
3737          801.0     83.0         868.0    109.0        1573.0
3738          779.0     65.0         896.0     89.0        1537.0
3739          724.0     55.0         971.0     71.0        1490.0
3740          673.0     40.0        1061.0     56.0        1394.0

      PT08.S5(O3)     T    RH      AH
0          1268.0  13,6  48,9  0,7578
1           972.0  13,3  47,7  0,7255
2          1074.0  11,9  54,0  0,7502
3          1203.0  11,0  60,0  0,7867
4          1110.0  11,2  59,6  0,7888
...           ...   ...   ...     ...
3736        820.0  33,4  35,1  1,7810
3737        657.0  35,7  29,0  1,6716
3738        551.0  35,8  27,7  1,6041
3739        511.0  36,3  27,4  1,6264
3740        451.0  33,6  28,8  1,4695

[6552 rows x 15 columns],             Date      Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
4675  21/09/2004  13.00.00    3,8       1277.0    -200.0     19,3
4676  21/09/2004  14.00.00    2,3       1142.0    -200.0     12,7
4677  21/09/2004  15.00.00    2,6       1207.0    -200.0     14,6
4678  21/09/2004  16.00.00    3,2       1252.0    -200.0     17,8
4679  21/09/2004  17.00.00      5       1399.0    -200.0     26,6
...          ...       ...    ...          ...       ...      ...
8411  24/02/2005  05.00.00    0,6        883.0    -200.0      1,2
8412  24/02/2005  06.00.00    0,8        968.0    -200.0      3,0
8413  24/02/2005  07.00.00    1,5       1071.0    -200.0      5,5
8414  24/02/2005  08.00.00    3,1       1310.0    -200.0     12,9
8415  24/02/2005  09.00.00    3,8       1332.0    -200.0     14,5

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
4675         1277.0    401.0         586.0    188.0        1846.0
4676         1073.0    275.0         671.0    143.0        1635.0
4677         1136.0    278.0         645.0    152.0        1696.0
4678         1233.0    342.0         618.0    168.0        1759.0
4679         1468.0    479.0         531.0    205.0        2072.0
...             ...      ...           ...      ...           ...
8411          518.0     87.0        1135.0     81.0         962.0
8412          652.0    197.0         937.0    131.0        1051.0
8413          787.0    290.0         755.0    170.0        1146.0
8414         1082.0    621.0         555.0    267.0        1400.0
8415         1132.0    645.0         522.0    269.0        1439.0

      PT08.S5(O3)     T    RH      AH
4675       1226.0  29,4  36,4  1,4718
4676        987.0  29,2  37,9  1,5116
4677       1024.0  30,5  34,9  1,5015
4678       1127.0  31,5  31,4  1,4310
4679       1442.0  31,2  31,4  1,3987
...           ...   ...   ...     ...
8411        606.0   3,3  84,5  0,6612
8412        788.0   3,6  84,4  0,6724
8413        947.0   3,8  83,8  0,6771
8414       1254.0   4,1  82,5  0,6819
8415       1352.0   3,9  83,9  0,6847

[2808 rows x 15 columns]]

In [ ]:
# check if ratio of rows is 7/3 = 2.33
split[0].shape[0]/split[1].shape[0]

2.3333333333333335

In [ ]:
# choose sensor data as input samples and ground truth benzene concentration as target
X_train = train.loc[:,['PT08.S1(CO)','PT08.S2(NMHC)','PT08.S3(NOx)','PT08.S4(NO2)','PT08.S5(O3)']]
Y_train = train.loc[:,['C6H6(GT)']]

X_test = test.loc[:,['PT08.S1(CO)','PT08.S2(NMHC)','PT08.S3(NOx)','PT08.S4(NO2)','PT08.S5(O3)']]
Y_test = test.loc[:,['C6H6(GT)']]


Y_train = Y_train.to_numpy()
Y_train = Y_train.flatten()

Y_test = Y_test.to_numpy()
Y_test = Y_test.flatten()

# replace commas with dots
parts = []
for i in range(len(Y_train)):
  parts.append(Y_train[i].strip().replace(',', '.'))

Y_train = pd.Series(parts)

parts = []
for i in range(len(Y_test)):
  parts.append(Y_test[i].strip().replace(',', '.'))

Y_test = pd.Series(parts)


print(Y_train)

0       11.9
1        9.4
2        9.0
3        9.2
4        6.5
        ...
6547     7.9
6548     5.8
6549     5.3
6550     4.2
6551     3.3
Length: 6552, dtype: object

In [ ]:
# train histogram gradient boosting regressor model
predictbenz = HistGradientBoostingRegressor(max_iter=1000).fit(X_train,Y_train)

In [ ]:
predictbenz.score(X_test,Y_test)

0.9998956454918783

In [ ]:
out = predictbenz.predict(X_test)
print(out)

[19.3021416  12.67734618 14.58034226 ...  5.48070935 12.91222325
 14.45432373]

In [ ]:
print(Y_test.to_numpy().astype(float)-out)

[-0.0021416   0.02265382  0.01965774 ...  0.01929065 -0.01222325
  0.04567627]